doctype html
html(lang=config.product.locale)
	head
		base(href=config.http.path+'/')

		meta(name='theme-color' content='#ffffff')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')

		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width,initial-scale=1')

		title=config.product.name

		//- TODO: reference an existing favicon
		link(rel='icon' type='image/png' href='favicon.png')

		link(rel='stylesheet' href='main.css')
		block head
	body
		main
			block main
