-
	var style = {
		body: {
			'font-family': 'sans-serif',
			'font-size': '14px',
		},
		wrapper: {
			'margin': '20px auto',
			'max-width': '600px',
		},
		mainTable: {
			'width': '100%',
			'border-spacing': '0',
			'border': '1px solid #e3e3e3',
			'background-color': '#ffffff',
			'border-radius': '5px',
			'overflow': 'hidden',
			'padding': '0',
			'box-shadow': '0 1px 3px 0 #f1f1f1',
		},
		titleTd: {
			'background-color': '#ffffff',
			'border-bottom': '1px solid #e3e3e3',
			'text-align': 'center',
			'padding': '0 20px',
		},
		titleH1: {
			'font-size': '18px',
		},
		tr: {},
		td: {
			'padding': '8px 15px',
			'text-align': 'center',
		},
	};
