// TODO: set the document language, statically like in this example or dinamically by injecting it through a variable
doctype html
html(lang="it")
	head
		meta(name="theme-color" content="#ffffff")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		meta(charset="utf-8")
		meta(name='viewport' content='width=device-width,initial-scale=1')

		// TODO: add a title
		title Hello

		// TODO: reference an existing favicon
		link(rel='icon' type='image/png' href='/favicon.png')

		link(rel='stylesheet' href='/main.css')
		block head
	body
		main
			block main
